---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Social links profile">
  <main
    class="mx-auto flex justify-center items-center mt-[7.25rem] mb-[7.31rem] lg:mt-[10.88rem] lg:mb-[10.94rem]"
  >
    <section
      class="w-[20.4375rem] h-[36.1875rem] lg:w-[24rem] lg:h-[38.1875rem] bg-[#1f1f1f] rounded-xl flex flex-col items-center p-6 gap-6 lg:p-10 text-center"
    >
      <div class="">
        <img
          src="/images/avatar-jessica.jpeg"
          alt="avatar-jessi"
          class="size-[5.5rem] rounded-full"
        />
      </div>
      <div class="flex flex-col gap-1">
        <h1 class="text-2xl font-semibold leading-9 text-[#fff]">
          Jessica Randall
        </h1>
        <h2 class="text-xs font-bold leading-[1.3125rem] text-[#C4F82A]">
          London, United Kingdom
        </h2>
      </div>
      <div class="">
        <h3 class="text-[#fff] text-sm font-normal leading-[1.3125rem]">
          "Front-end developer and avid reader."
        </h3>
      </div>
      <div class="flex flex-col gap-4">
        <div
          class="w-[17.4375rem] h-[2.8125rem] lg:w-[19rem] bg-[#333] p-3 rounded-lg hover:bg-[#C4F82A] transition-colors duration-500 ease-in-out cursor-pointer text-[#fff] hover:text-[#333]"
        >
          <h3 class="text-sm font-bold leading-[1.3125rem]">GitHub</h3>
        </div>
        <div
          class="w-[17.4375rem] h-[2.8125rem] lg:w-[19rem] bg-[#333] p-3 rounded-lg hover:bg-[#C4F82A] transition-colors duration-500 ease-in-out cursor-pointer text-[#fff] hover:text-[#333]"
        >
          <h3 class="text-sm font-bold leading-[1.3125rem]">Frontend Mentor</h3>
        </div>
        <div
          class="w-[17.4375rem] h-[2.8125rem] lg:w-[19rem] bg-[#333] p-3 rounded-lg hover:bg-[#C4F82A] transition-colors duration-500 ease-in-out cursor-pointer text-[#fff] hover:text-[#333]"
        >
          <h3 class="text-sm font-bold leading-[1.3125rem]">LinkedIn</h3>
        </div>
        <div
          class="w-[17.4375rem] h-[2.8125rem] lg:w-[19rem] bg-[#333] p-3 rounded-lg hover:bg-[#C4F82A] transition-colors duration-500 ease-in-out cursor-pointer text-[#fff] hover:text-[#333]"
        >
          <h3 class="text-sm font-bold leading-[1.3125rem]">Twitter</h3>
        </div>
        <div
          class="w-[17.4375rem] h-[2.8125rem] lg:w-[19rem] bg-[#333] p-3 rounded-lg hover:bg-[#C4F82A] transition-colors duration-500 ease-in-out cursor-pointer text-[#fff] hover:text-[#333]"
        >
          <h3 class="text-sm font-bold leading-[1.3125rem]">Instagram</h3>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style></style>
